apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.jetstack.io
    targetRevision: v1.14.4
    helm:
      releaseName: cert-manager
      valuesObject:
        installCRDs: true
        image:
          repository: quay.io/jetstack/cert-manager-controller
          tag: v1.14.4
        cainjector:
          image:
            repository: quay.io/jetstack/cert-manager-cainjector
            tag: v1.14.4
        webhook:
          image:
            repository: quay.io/jetstack/cert-manager-webhook
            tag: v1.14.4
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
