apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-issuer
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/hnatekmarorg/hetzner-k8s.git
    targetRevision: HEAD
    path: argocd/cert-manager
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
